@font-face {
  font-family: "lato";
  src: url("./fonts/Lato/Lato-Regular.ttf");
  font-weight: 400;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700; /* Bol weight */
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600; /* Bol weight */
}
